div.register-newsletter-input{
	float:right;
	display: flex;
	justify-content: space-between;
	cursor:pointer;	
}
div.register-newsletter-input .agree
{
	margin-top:5px;
}
.reg-button
{
	margin-top:0px !important;
}
.owl-carousel
{
	z-index:0 !important;
}
.side-product-list
{
	min-height: 400px ;
	text-align: center;
}
.prev, .next
{
	cursor: pointer;
	background-color: transparent !important;
	color:#c4c4c3 !important;
	font-size: 20px;
	border: 1px solid #ebebeb !important;
	padding:5px 20px;
	border-radius: 3px;
	transition: none;
}
.prev:hover, .next:hover
{
	background-color: #f0ac05 !important;
	color: #ffffff !important;
	border:none !important;
}